@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Work+Sans:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    font-family: Raleway, Work Sans;
background-color:rgb(167, 183, 162);
}


#logo {
  float: left;
    font-size: 30px;
    font-family: Raleway, Work Sans;
    color:#000000;
    text-transform: uppercase;
    letter-spacing: 5px;
     }

nav {
    width: 100%;
    height: 75px;
    background-color: rgb(188, 217, 183);
    line-height: 75px;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    min-height: 75px;
}



nav ul{
    float: right;

}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-family: Work Sans, Raleway;
    font-size: 18px;
    text-transform: uppercase;
    margin: 1rem;
    
}

nav ul li a:hover {
    color: rgb(76, 52, 52);
    
    }

nav ul li a.active {
    color: rgb(76, 52, 52); 
    
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .burger {
    display: none;
position: absolute;
right: 5%;
top: 50%;
transform: translateY(-50%);

}

nav .burger .line {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
}
@media screen and (max-width:768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links  {
        float: none;
        position: relative;
        z-index: 9;
        left: 0;
        top: 100px;
        bottom: 0;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
        transition: all .5s ease-in-out;
        background-color: rgb(188, 217, 183);
        
    }

    nav .burger {
        display: block;
    }

    nav .links a {
        font-size: 20px;
    }

    nav :checked ~ .links {
        bottom: 0;
    }
   nav .burger {
       display: block;
   }
 
   nav :checked ~ .burger .line:nth-child(1) {
transform: rotateY(-10px) rotate(225deg);
   }
   nav :checked ~ .burger .line:nth-child(3) {
    transform: rotateY(-10px) rotate(225deg);
       }
       nav :checked ~ .burger .line:nth-child(2) {
        opacity: 0;
           }
        }


.image-overlay img {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(../images/green-woods.webp);
    background-repeat:no-repeat;
    background-size:contain;
    margin: 0px;
    display: grid;
    opacity: 0.5;
    overflow: hidden;
    
}

.overlay {
    height: 100%;
    width: 100%;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;

}


.about  {
    display:inline-block;
    width: 50%;
    margin: 0 auto;
    left: -28%;
    text-transform: lowercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;    
}

#about {
    position: relative;
    top: 150px;
    width: 1000px;
    margin: 560px;
text-align: center;
align-items: center;
left: 55px;
bottom: 50%;
}

#about-text {
position: relative;
top: 80%;
width: 980px;
margin: 550px;
text-align: center;
align-items: center;

}


/* social media links */
    
.woods-image {
    width: 100%;
    height: 150%;
    background-repeat: center center / cover no-repeat fixed;
    opacity: 0.6;
   
    }

    .about {
        text-align: center;
        position: relative;
        font-size:25px;
    }

.about h1 {
    text-align: center;
    position: relative;
    font-size: 25px;
    font-weight: bold;
}



.socials {
    text-align: center;
    display:block;
    position: relative;
    font-size: 150%;
    color: rgb(255, 255, 255);
    bottom: 100%;

}

.socials i {
    font-size: 150%;
    color: rgb(255, 255, 255);
    bottom: 100%;
    position: relative;
}

.socials ul li {
    display: inline-block;
    letter-spacing: 10px;
    
}



#footer {
    height: 40px;
    width: 100%;
    display: inline;
    position: fixed;
    padding: 10px 0px 10px;
    bottom: 30px;
    right: 0;
    
    }
