@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Work+Sans:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Raleway, Work Sans;
background-color: rgb(223, 205, 205);
}


#logo {
    float: left;
    font-size: 300%;
    font-family: Raleway, Work Sans;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 1%;

}


nav {
    width: 100%; 
    height: 60px;
    background-color:rgb(223, 205, 205);
    
}



#dropdown-menu a:hover {
    float: left;
    font-weight: bolder;
    border-bottom: 1px solid rgb(0, 0, 0);

    
}

.active {
    border-bottom: 1px solid rgb(32, 52, 38);
}

nav ul li {
    float: right;
    list-style-type: none;
    position: relative;
    margin-left: 10px;
}

nav ul li a {
    display: block ;
    font-family: Raleway, Work Sans;
    font-size: 20px;
    padding: 18px 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bolder;
}


/* social media links */
    
.woods-image {
    width: 100%;
    height: 150%;
    background-repeat: center center / cover no-repeat fixed;
    opacity: 0.5;
    }



.socials {
    text-align: center;
    display: inline;
    position: relative;
    font-size: 150%;
    color: rgb(255, 255, 255);
    bottom: 100%;

}

.socials i {
    font-size: 150%;
    color: rgb(255, 255, 255);
    bottom: 100%;
    position: relative;
}

.socials ul li {
    display: inline-block;
    letter-spacing: 10px;
    
}

.container {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    background: rgb(143, 133, 133);
}

.container .box {
    position: relative;
    width: 360px;
    height: 360px;
    background: rgb(119, 107, 107);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    
}

.container .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
 }

.container .box:hover .icon {
    top: 20px;
    right: -15px;

}

.container .box .content {
    position: absolute;
    top: 10px;
    height: 100%;
    text-align: center;
    padding: 20px;
    color: black;
    box-sizing: border-box;
}



#instructors {
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-family: inherit;
    font-size: 24px;
    text-transform: uppercase;
}

#footer {
    height: 180px;
    width: 100%;
    display: inline;
    position: fixed;
    bottom: 30px;
    right: 0;
    
    }
