@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Work+Sans:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    
}


body{
    font-family: Raleway, Work Sans;
background-color:rgb(167, 183, 162);
}


#logo {
    float: left;
    font-size: 300%;
    font-family: Raleway, Work Sans;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 1%;

}

.image-overlay img {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(../images/green-woods.webp);
    background-repeat:no-repeat;
    background-size:contain;
    margin: 0px;
    display: grid;
    opacity: 0.5;
    
}

.overlay {
    height: 100%;
    width: 100%;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;

}




.navbar {
    width: 100%; 
    height: 60px;
    background-color:rgb(184, 207, 174);
    display: flex;
}


.navbar ul li {
    float: right;
    list-style-type: none;
    position: absolute;
    margin-left: 10px;
    
}

.navbar ul li a {
    position: relative;
    font-family: Raleway, Work Sans;
    font-size: 20px;
    padding: 18px 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bolder;
    float: right;
}

/* social media links */
    
.woods-image {
    width: 100%;
    height: 150%;
    background-repeat: center center / cover no-repeat fixed;
    opacity: 0.6;
   
    }



.socials {
    text-align: center;
    display:block;
    position: relative;
    font-size: 150%;
    color: rgb(255, 255, 255);
    bottom: 100%;

}

.socials i {
    font-size: 150%;
    color: rgb(255, 255, 255);
    bottom: 100%;
    position: relative;
}

.socials ul li {
    display: inline-block;
    letter-spacing: 10px;
    
}


#footer {
    height: 40px;
    width: 100%;
    display: inline;
    position: fixed;
    padding: 10px 0px 10px;
    bottom: 30px;
    right: 0;
    
    }
